{#checkboxswitch#}
{% block eliberty_checkboxswitch_label %}
{% spaceless %}
    {% if label is not sameas(false) and label is empty %}
        {%- if label_format is defined and label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    <label  class=" control-label col-lg-3">
        {% if label_render %}
            {% if widget_checkbox_label in ['both', 'widget'] %}
                {{ label|trans({}, translation_domain)|raw }}
            {% else %}
                {{ block('form_help') }}
            {% endif %}
            </label>
        {% endif %}
    </label>
{% endspaceless %}

{% endblock eliberty_checkboxswitch_label %}
{% block eliberty_checkboxswitch_widget %}
    {% spaceless %}
        {% set entityName = getEntityName(form.parent.vars.data) %}
        {% set className = entityName ~ '_' ~ form.vars.name ~ '_' ~ form.vars.id  %}
        <div class="input-group {%- if not horizontal %} class="checkbox-inline"{% endif %}>">
            <div class="control {{className}}">
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-control" data-size="{{ dataSize }}" data-inverse="{{ dataInverse }}" data-switch="switch" data-indeterminate="{{ dataIndeterminate }}" data-animate="{{ dataAnimate }}" data-radio-all-off="{{ dataRadioAllOff }}" data-on-color="{{ dataOnColor }}" data-off-color="{{ dataOffColor }}" data-on-text="{{ dataOnText }}" data-off-text="{{ dataOffText }}" />
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_checkboxswitch_widget %}

{#checkboxtoggle#}
{% block eliberty_checkboxtoggle_widget %}
    {% spaceless %}
        {% set entityName = getEntityName(form.parent.vars.data) %}
        {% set className = entityName ~ '_' ~ form.vars.name ~ '_' ~ form.vars.id  %}
        <div class="{% if form.vars.attr.inline is defined and form.vars.attr.inline == 'true' %}col-lg-6 padding-left-20{% endif %}">
            <div class="{{className}}">
                <div class="control {{className}}">
                    <input type="checkbox"  {{ block('widget_attributes') }}  value="{{ value }}" data-size="small" data-toggle="toggle" class="form-control">
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_checkboxtoggle_widget %}

{#boolean#}
{% block eliberty_boolean_widget %}
    {% spaceless %}
        {% set entityName = getEntityName(form.parent.vars.data) %}
        {% set className = entityName ~ '_' ~ form.vars.name ~ '_' ~ form.vars.id  %}
        <div class="{% if form.vars.attr.inline is defined and form.vars.attr.inline == 'true' %}col-lg-6 padding-left-20{% endif %}">
            <div class="bool-slider
        {% if value is not empty %}
            {% if value == 1 %}
                true
            {% elseif value == 0 and value != 'true' %}
                false
            {% else %}
                {{ value }}
            {% endif %}
        {% else %} false {% endif %} {{className}}">
                <div class="inset {{className}}">
                    <div class="control {{className}}">
                        <input type="hidden"  {{ block('widget_attributes') }}  value="{% if value is not empty %}{% if value == 1 %}true{% elseif value == 0 and value != 'true' %}false{% else %}{{ value }}{% endif %}{% else %}false{% endif %}" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_boolean_widget %}
{#inverse boolean if click true then get false#}
{% block eliberty_inversed_boolean_widget %}
    {% spaceless %}
        {% set entityName = getEntityName(form.parent.vars.data) %}
        {% set className = entityName ~ '_' ~ form.vars.name ~ '_' ~ form.vars.id  %}
        <div class="{% if form.vars.attr.inline is defined and form.vars.attr.inline == 'true' %}col-lg-6 padding-left-20{% endif %}">
            <div class="bool-slider
        {% if value is not empty %}
            {% if value == 'true' or value == 1 %}
                false
            {% elseif value == 0 and value == 'false' %}
                true
            {% endif %}
        {% else %} true {% endif %} {{className}}">
                <div class="inset {{className}}">
                    <div class="control {{className}}">
                        <input type="hidden"  {{ block('widget_attributes') }}  value="{% if value is not empty %}{% if value == 1 %}true{% elseif value == 0 and value != 'true' %}false{% else %}{{ value }}{% endif %}{% else %}false{% endif %}" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_inversed_boolean_widget %}
{#datetime picker#}
{% block eliberty_datetime_picker_widget %}
    {% spaceless %}
        <div class="">
            <div class="input-group date">
                <input type="text" {{ block('widget_attributes') }} data-date-format="YYYY-MM-DD HH:mm:ss" {% if value is not empty %}value="{{ value|date('Y-m-d H:i:s') }}" {% endif %} class="form-control">
                  <span class="input-group-addon add-on">
                    <span class="glyphicon-calendar glyphicon"></span>
                  </span>
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_datetime_picker_widget %}
{#label datepicker#}
{% block eliberty_datepicker_label %}
    {% spaceless %}
        <label  class=" control-label col-lg-3 optional">
            {{ label }}
        </label>
    {% endspaceless %}
{% endblock eliberty_datepicker_label %}
{#date picker#}
{% block eliberty_datepicker_widget %}
    {% spaceless %}
    <div class="input-group {% if attr['classSize'] is defined %} {{attr['classSize']}} {% endif %}" >
        <input type="text"  value="{{ value }}" {{ block('widget_attributes') }} class="form-control eliberty_datepicker" >
        <span class="input-group-addon calendar"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    {% endspaceless %}
{% endblock eliberty_datepicker_widget %}
{#choice multiselect#}
{% block eliberty_multiselect_widget %}
    {% spaceless %}
    {#<div class=" col-lg-{% if form.vars.attr.position is defined %}12{%else%}9{% endif %}">#}
        <select  {{ block('widget_attributes') }}  class='form-control multiselect_{{ id }}' multiple="multiple" >
             {% for group_label, choice in choices %}
                    {% if choice is iterable %}
                        <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                            {% set options = choice %}
                            {{ block('choice_widget_options') }}
                        </optgroup>
                    {% else %}
                        <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                          {{ choice.label|trans({}, translation_domain) }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    {#</div>#}
    {% endspaceless %}
{% endblock eliberty_multiselect_widget %}
{#choice with all ajax data for populate field#}
{% block eliberty_rest_choice_widget %}
    {% spaceless %}
        <div class="col-lg-9">
            <select  {{ block('widget_attributes') }} data-placeholder="Please Select..." data-width="col-lg-9" class='chosen-select' data-size="5" data-live-search="true" >
                 {% for group_label, choice in choices %}
                    <option   value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                          {{ choice.label|trans({}, translation_domain) }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endspaceless %}
{% endblock eliberty_rest_choice_widget %}
{#Marckdown editor#}
{% block eliberty_markdown_editor_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }} class="form-control markdown_editor_{{ id }}" style="margin-top:10px;" >{{ value }} </textarea>
    {% endspaceless %}
{% endblock eliberty_markdown_editor_widget %}
{#Checkbox with tow choice#}
{% block eliberty_expanded_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="btn-group" data-toggle="buttons">
            {% for child in form %}
                <label class="btn btn-primary {% if child.vars.checked == 1 %} active {% endif %}">
                    <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />{{ child.vars.label }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock eliberty_expanded_widget %}
{#Choice with boostrap color (danger, info , warning)#}
{% block eliberty_bnt_choice_widget %}
    {% spaceless %}
        <div class="{% if form.vars.attr.position is defined %}{{ form.vars.attr.position }}{% endif %}">
        <select  {{ block('widget_attributes') }}   class='selectpicker eliberty_bnt_choice_{{ id }}' data-live-search="true" data-style="btn-info" data-size="10" >
            {% for group_label, choice in choices %}
                {% if choice is iterable %}
                    <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                        {% set options = choice %}
                        {{ block('choice_widget_options') }}
                    </optgroup>
                {% else %}
                    <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                        {{ choice.label|trans({}, translation_domain) }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
    {% endspaceless %}
{% endblock eliberty_bnt_choice_widget %}
{#Json editor with schema#}
{% block eliberty_json_widget %}
    {% spaceless %}
        {#{{ block('widget_attributes') }}#}
       <textarea id="{{id}}" style="display:none;" name="{{full_name}}" class="form-control"  >{{ value | e('html_attr') }}</textarea>
        {% if attr.withEditor is defined and attr.withEditor == 'true' and disabled != 'false' %}
                <div class="row">
                    <div class="col-lg-12" >
                        <!-- Button trigger modal -->
                        <button type="button" id="btnJson{{id}}" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModalJson{{id}}">
                            Edition du Json
                        </button>
                        <span id="valid_indicator_{{ id }}" style='margin-left:5px;'class="control-label" ></span>
                    </div>
                </div>
                <div class="modal fade" id="myModalJson{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelJson{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel{{id}}">Edition du json</h4>
                            </div>
                            <div class="modal-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist" id="tab_{{ id }}">
                                        <li role="presentation" class="active"><a href="#editor_holder_{{id}}" aria-controls="editor_holder_{{id}}" role="tab" data-toggle="tab">Json Editor</a></li>
                                        {% if attr.withSchema is defined %}<li role="presentation"><a href="#editor_schema_{{id}}_tab" aria-controls="editor_schema_{{id}}_tab" role="tab" data-toggle="tab">Schema Editor</a></li>{% endif %}
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="editor_holder_{{id}}"></div>
                                        {% if attr.withSchema is defined %}
                                            <div role="tabpanel" class="tab-pane" id="editor_schema_{{id}}_tab">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h2>Schema</h2>
                                                        <p>Vous pouvez modifier le <a href="http://jeremydorn.com/json-editor/">schéma</a> et voir comment la forme générée ressemble . Après vous apportez des modifications , cliquez sur
                                                            <button class="btn btn-primary"  id="btnJsonSchemaUpdate{{id}}" >Mise à jour du schéma</button>
                                                        </p>
                                                        <textarea id="schema_editor_{{id}}" name="schema_editor_{{full_name}}" class="form-control" style="height: 466px; margin: 0px -1px 0px 0px;" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="btnJsonModalSave{{ id }}" >Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endspaceless %}
{% endblock eliberty_json_widget %}
{#colorpicker#}
{% block eliberty_colorpicker_widget %}
    {% spaceless %}
        <input type="text" value="{{ value }}" {{ block('widget_attributes') }} class="pick-a-color form-control" >
    {% endspaceless %}
{% endblock eliberty_colorpicker_widget %}
{#Upload document#}
{% block eliberty_file_upload_widget %}
    {% spaceless %}

        {% image '@RedpillBundle/Resources/public/images/empty.png' %}
        {% set noImg = asset_url %}
        {% endimage %}
        <input type="hidden" {{ block('widget_attributes') }}
                {% if form.vars.value is defined and form.vars.value is not null and getUploadedImagePath(form.vars.value, getEntityName(form.parent.vars.data)) != '' %}
                    value='{{form.vars.value}}'
                {% elseif uploadHasImage(form.vars.value) != ''  %}
                    value='{{form.vars.value}}'
                {% endif %} />
        <input type="hidden" name="h" id="h-{{ form.vars.id }}" />
        <input type="hidden" name="w" id="w-{{ form.vars.id }}" />
        <input type="hidden" name="x" id="x-{{ form.vars.id }}" />
        <input type="hidden" name="y" id="y-{{ form.vars.id }}" />

        <div id="secndCTBlock_{{ form.vars.id }}" class="upload_file secndCTBlock" style="text-align:center">
            <div id="thumbnail_{{ form.vars.id }}" class="thumbnail  {% if form.vars.attr.classImg is defined %} {{ form.vars.attr.classImg }} {% endif %}"
                    {% if form.vars.value is empty and form.vars.attr.noimage is not defined %} style="display:none;" {% endif %}>

                <img id="final-pic-{{ form.vars.id }}"  alt="{% trans %}rp.generic.upload.photo{% endtrans %}, {% trans %}rp.generic.upload.maxsize{% endtrans %}" class="uploadThumbImg"
                        {% if form.vars.value ends with 'pdf' %}
                     src="/bundles/redpill/images/pdf.png"><a href="{{ getUploadedImagePath(form.vars.value, getEntityName(form.parent.vars.data))}}"><span>{{ 'rp.generic.upload.pdf' | trans }}</span></a></img>
                {% else  %}
                    src="{% if form.vars.value is not empty and form.vars.value is not null and getUploadedImagePath(form.vars.value, getEntityName(form.parent.vars.data)) != '' %}{{ getUploadedImagePath(form.vars.value, getEntityName(form.parent.vars.data))}}{% elseif uploadHasImage(form.vars.value) != '' %}{{uploadHasImage(form.vars.value)}}{% else %}{{'/bundles/redpill/images/noimage.png'}}{% endif %}">
                {% endif %}
            </div>
            <div class="{% if form.vars.attr.inline is defined and form.vars.attr.inline == 'true' %}col-xs-8{% else %}row{% endif %}">
                <div id="imguploader_{{ form.vars.id }}" class="imguploader
                {% if form.vars.attr.withCropper is defined and form.vars.attr.withCropper == 'true' %} withCropper {% endif %}
                {% if form.vars.attr.classDivBtn is defined %} {{ form.vars.attr.classDivBtn }} {% endif %}
                " role="{% if form.vars.attr.extensions is defined %}{{ form.vars.attr.extensions }}{% else %}gif|jpeg|jpg|png{% endif %}" rel="{{ form.vars.id }}"></div>
                <div class="uploadmessages"></div>
            </div>
        </div>
        <!-- modal-gallery is the modal dialog used for the image gallery -->
        <div id="modal-pop-{{ form.vars.id }}"  class="modal fade" title="{% trans %}rp.generic.upload.modalcrop.title{% endtrans %}" tabindex="100000000" role="dialog" aria-labelledby="myModalPopUpLabel" aria-hidden="true" >
            <div id="modal-dialog-{{ form.vars.id }}" class="modal-dialog {% if form.vars.attr.modalFile is defined %} {{ form.vars.attr.modalFile }} {% endif %}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}rp.generic.upload.modalcrop.info1{% endtrans %}<br />{% trans %}rp.generic.upload.modalcrop.info2{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row centralpanel">
                            <div class="col-xs-8">
                                <div class="picholder">
                                    <img id="cropbox_{{ form.vars.id }}" src="{{ noImg }}" alt="blank" />
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div id="keycard">
                                    <div id="previewholder">
                                        <img id="preview_{{ form.vars.id }}" src="{{ noImg }}">
                                    </div>
                                </div>
                                <div class="tools">
                                    <a href="#" id="rotator_{{ form.vars.id }}" class="btn btn-lg btn-warnning rotator">{% trans %}rp.generic.upload.modalcrop.rotation{% endtrans %} <span class="glyphicon glyphicon-retweet"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="alert alert-info small">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <div class="col-xs-6" style="text-align:right; line-height: 30px;">
                                {% trans %}rp.generic.upload.modalcrop.ok{% endtrans %}
                            </div>
                            <div class="col-xs-6" style="text-align:left">
                                <button id="picsaver_{{ form.vars.id }}" class="btn btn-primary btn-large picsaver">{% trans %}rp.generic.upload.modalcrop.save{% endtrans %} <span class="glyphicon glyphicon-share"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_file_upload_widget %}
{#tags#}
{% block eliberty_tags_label %}
    {% spaceless %}
        {{ label }}
    {% endspaceless %}
{% endblock eliberty_tags_label %}
{% block eliberty_tags_widget %}
    {% spaceless %}
        <input type="text" {{ block('widget_attributes') }}   class="demo-default input-tags" value="{% for key,choice in choices %}{{choice.label}}{% if (choices | last)  != choice %},{% endif %}{% endfor %}" />
    {% endspaceless %}
{% endblock eliberty_tags_widget %}
{#Keycard#}
{% block eliberty_keycard_skidata_widget %}
    {% spaceless %}
        <div class="row skidata_keycard no-margin">
            <div class="col-xs-{% if form.vars.attr.firstDiv is defined %}{{form.vars.attr.firstDiv}}{% else %}2{% endif %} no-padding-left chip">
                {{ form_widget(form.chip) }}
            </div>
            <div class="col-xs-{% if form.vars.attr.secondDiv is defined %}{{form.vars.attr.secondDiv}}{% else %}8{% endif %} no-padding key-center serial">
                {{ form_widget(form.base) }}
            </div>
            <div class="col-xs-{% if form.vars.attr.thirdDiv is defined %}{{form.vars.attr.thirdDiv}}{% else %}2{% endif %}  no-padding-right pull-right luhn">
                {{ form_widget(form.luhn) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_keycard_skidata_widget %}

{% block eliberty_keycard_alfi_widget %}
    {% spaceless %}
        <div class="row alfi_keycard no-margin">
            <div class="col-xs-{% if form.vars.attr.firstDiv is defined %}{{form.vars.attr.firstDiv}}{% else %}3{% endif %} no-padding part1">
                {{ form_widget(form.part1) }}
            </div>
            <div class="col-xs-{% if form.vars.attr.secondDiv is defined %}{{form.vars.attr.secondDiv}}{% else %}3 {% endif %} no-padding key-center part2">
                {{ form_widget(form.part2) }}
            </div>
            <div class="col-xs-{% if form.vars.attr.thirdDiv is defined %}{{form.vars.attr.thirdDiv}}{% else %}3  {% endif %} no-padding part3">
                {{ form_widget(form.part3) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_keycard_alfi_widget %}

{% block eliberty_keycard_teamaxess_widget %}
    {% spaceless %}
        <div class="row teamaxess_keycard">
            <div class="col-xs-6 no-padding wtp">
                {{ form_widget(form.wtp) }}
            </div>
            <div class="col-xs-1 no-padding"> </div>
            <div class="col-xs-2 no-padding crc">
                {{ form_widget(form.crc) }}
            </div>
            <div class="col-xs-1 no-padding"> </div>
            <div class="col-xs-2 no-padding acceptance">
                {{ form_widget(form.acceptance) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_keycard_teamaxess_widget %}
{% block eliberty_keycard_open_widget %}
    {% spaceless %}
        <div class="open_keycard">
            <div class="col-xs-{% if form.vars.attr.secondDiv is defined %}{{form.vars.attr.secondDiv}}{% else %}9{% endif %} no-padding key-center serial">
                {{ form_widget(form.base) }}
            </div>
            <div class="col-xs-1 no-padding pull-left text-right keycard-separator"> - </div>
            <div class="col-xs-{% if form.vars.attr.thirdDiv is defined %}{{form.vars.attr.thirdDiv}}{% else %}2{% endif %}  no-padding-right pull-right luhn">
                {{ form_widget(form.luhn) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock eliberty_keycard_open_widget %}
