{% block eliberty_checkboxswitch_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':bootstrap-switch.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_checkboxswitch_stylesheet %}

{% block eliberty_checkboxtoggle_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':bootstrap-toggle.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_checkboxtoggle_stylesheet %}

{% block eliberty_boolean_stylesheet %}
{% spaceless %}
        {% stylesheets '@ElibertyFormElementTypeBundle/Resources/public/css/bool_form.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
{% endspaceless %}
{% endblock eliberty_boolean_stylesheet %}

{% block eliberty_markdown_editor_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':markdown.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_markdown_editor_stylesheet %}

{% block eliberty_datepicker_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':datepicker.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_datepicker_stylesheet %}

{% block eliberty_datetime_picker_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':datetimepicker.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_datetime_picker_stylesheet %}

{% block eliberty_multiselect_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':multiselect.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_multiselect_stylesheet %}

{% block eliberty_rest_choice_stylesheet %}
    {% spaceless %}
    {% endspaceless %}
{% endblock eliberty_rest_choice_stylesheet %}

{% block eliberty_bnt_choice_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':bootstrap-select.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_bnt_choice_stylesheet %}

{% block eliberty_json_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':jsoneditor.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_json_stylesheet %}

{% block eliberty_colorpicker_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':colorpicker.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_colorpicker_stylesheet %}

{% block eliberty_file_upload_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':fileupload.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_file_upload_stylesheet %}

{% block eliberty_tags_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':selectize.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_tags_stylesheet %}

{% block eliberty_expanded_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="btn-group" data-toggle="buttons">
            {% for child in form %}
                <label class="btn btn-primary {% if child.vars.checked == 1 %} active {% endif %}">
                    <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />{{ child.vars.label|trans }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock eliberty_expanded_widget %}

{% block eliberty_phonenumber_stylesheet %}
    {% spaceless %}
        {% include 'ElibertyFormElementTypeBundle:Form/Css/' ~ formelementtypemode ~':phonenumber.html.twig' %}
    {% endspaceless %}
{% endblock eliberty_phonenumber_stylesheet %}
